AddDefaultCharset UTF-8
RewriteEngine on

ErrorDocument 404                           /dev/browse?error=404;
ErrorDocument 403                           /dev/browse?error=403;

RewriteRule ^dev/(.+)$   /rtemplater/$1
RewriteRule ^dev/$   /rtemplater/home
RewriteRule ^component/(.*)$   /rtemplater/component/$1
RewriteRule ^([\w-]+)(/[\w-]+)?(/[\w-]+)?(/[\w-]+)?(/)?$   /rtemplater/api/router.php?levels[]=$1&levels[]=$2&levels[]=$3&levels[]=$4&browseLevel=$5