////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin font( $value, $isImportant: 0 ){
	@if $isImportant {
		font-size: rem( $value ) !important;
	}
	@else {
		font-size: rem( $value );
	}
}
@mixin color( $value, $isImportant: 0 ){
	@if $isImportant {
		color: color( $value ) !important;
	}
	@else {
		color: color( $value );
	}
}
@mixin weight( $value, $isImportant: 0 ){
	@if $isImportant {
		font-weight: $value !important;
	}
	@else {
		font-weight: $value;
	}
}
@mixin line-height( $value, $isImportant: 0 ){
	@if $isImportant {
		line-height: rem( $value ) !important;
	}
	@else {
		line-height: rem( $value );
	}
}
@mixin decoration( $value, $isImportant: 0 ){
	@if $isImportant {
		&, &:hover {
			text-decoration: $value !important;
		}
	}
	@else {
		&, &:hover {
			text-decoration: $value;
		}
	}
}
@mixin bg-size( $value, $isImportant: 0 ){
	@if $isImportant {
		background-size: $value !important;
	}
	@else {
		background-size: $value;
	}
}
@mixin align( $value, $isImportant: 0 ){
	@if $isImportant {
		text-align: $value !important;
	}
	@else {
		text-align: $value;
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin before( $content: '' ){
	&:before {
		content: $content;
		@content;
	}
}
@mixin abs-before( $content: '' ){
	&:before {
		content: $content;
		position: absolute;
		@content;
	}
}
@mixin after( $content: '' ){
	&:after {
		content: $content;
		@content;
	}
}
@mixin abs-after( $content: '' ){
	&:after {
		content: $content;
		position: absolute;
		@content;
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin bg( $file, $params: null ){
	@if $params {
		background: url( image( $file ) ) $params;
	}
	@else {
		background-image: url( image( $file ) );
	}
}
@mixin bg-color( $color-name, $isImportant: 0 ){
	@if $isImportant {
		background-color: color( $color-name ) !important;
	}
	@else {
		background-color: color( $color-name );
	}
}
@mixin hover(){
	//&:hover, &:focus {
	&:hover {
		@content;
	}
}

@mixin border-link( $color ){
	@extend %border-link;
	color: $color;
	border-bottom-color: $color;
}

@mixin inline-image( $file, $width, $height ){
	@extend .d-inline-block, .bg-center-no-repeat;
	@include bg( $file );
	width: $width;
	height: $height;
}
////////////////////////////////////////////////////////////////////////////////////////////////////