////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin font( $value, $isImportant: null ){
	font-size: rem( $value ) im($isImportant);
}
@mixin color( $value, $isImportant: null ){
	color: _( $value ) im($isImportant);
}
@mixin weight( $value, $isImportant: null ){
	font-weight: $value im($isImportant);
}
@mixin line-height( $value, $isImportant: null ){
	line-height: rem($value) im($isImportant);
}
@mixin decoration( $value, $isImportant: null ){
	&, &:hover {text-decoration: $value im($isImportant);}
}
@mixin bg-size( $value, $isImportant: null ){
	background-size: $value im($isImportant);
}
@mixin align( $value, $isImportant: null ){
	text-align: $value im($isImportant);
}
@mixin display( $value, $isImportant: true ){
	display: $value im($isImportant);
}
@mixin overflow( $value, $isImportant: true ){
	overflow: $value im($isImportant);
}
////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin animation( $cssParam: all, $time: null, $type: null ){
	@if $time == null {$time:$animation-time}
	@if $type == null {$type:$animation-type}
	transition: $time $cssParam $type;
}

@mixin translate( $x: 0, $y: 0, $z: 0, $additionalParams: null ){
	transform: translate3d( $x, $y, $z ) is($additionalParams);
}

////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin bg( $file, $params: null ){
	@if $params {
		background: url( image( $file ) ) $params;
	}
	@else {
		background-image: url( image( $file ) );
	}
}
@mixin bg-color( $color-name, $isImportant: null ){
	background-color: _( $color-name ) im($isImportant);
}
////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin hover(){
	&:hover {
		@content;
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin inline-image( $file, $width, $height ){
	@extend .bg-center, .bg-no-repeat;
	@include bg( $file );
	@include display( inline-block );
	width: $width;
	height: $height;
}
////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin before( $content: '' ){
	&:before {
		content: $content;
		@content;
	}
}
@mixin abs-before( $content: '' ){
	&:before {
		content: $content;
		position: absolute;
		@content;
	}
}
@mixin after( $content: '' ){
	&:after {
		content: $content;
		@content;
	}
}
@mixin abs-after( $content: '' ){
	&:after {
		content: $content;
		position: absolute;
		@content;
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////