////////////////////////////////////////////////////////////////////////////////////////////////////

html {
	//@extend .position-relative;
	//min-height: 100%;
	font-size: $font-size-base-px;
}
body {
	font-size: $font-size-body;
	min-width: $site-min-width;
	cursor: default;
	color: $color-default;
}

////////////////////////////////////////////////////////////////////////////////////////////////////

img {
	max-width: 100%;
}
select {
	//-webkit-appearance: none;
	//-webkit-border-radius: 2px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////

.site-header {

}
	.s-h {

	}
////////////////////////////////////////////////////////////////////////////////////////////////////

.site-content {
}
	.s-c {

	}

////////////////////////////////////////////////////////////////////////////////////////////////////

.site-footer {
}
	.s-f {
		
	}
////////////////////////////////////////////////////////////////////////////////////////////////////