////////////////////////////////////////////////////////////////////////////////////////////////////

%clickable {
	cursor: pointer;
}

%animation {
	@include animation;
}

%bold {
	@extend .weight-700;
}

%no-decoration {
	@extend .decoration-none;
}

////////////////////////////////////////////////////////////////////////////////////////////////////

.container-full {
	> * {
		@extend .row-container;
	}
}
.container {
	max-width: map-get( $container-max-widths, 'xl' );
}
.row-container {
	@extend .row, .px-0;
	width: calc( 100% + #{$grid-gutter-width} );
}
.row-container-max {
	@extend .container, .row, .px-0;
	margin: 0 auto;
}

////////////////////////////////////////////////////////////////////////////////////////////////////

.bg-center {
	background-position: center center;
}
.bg-no-repeat {
	background-repeat: no-repeat;
}

.f-default {
	font-size: rem( $font-size-base-value );
}
.w-auto {
	width: auto;
}
.h-auto {
	height: auto;
}

.absolute-center {
	left: 50%;
	top: 50%;
	@include translate( -50%, -50% );
}
.reset-button {
	background: transparent;
	border: 0;
}

.hover {
	@include hover {
		opacity: 0.9;
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////

@each $value in $font-sizes {
	.f-#{""+$value} {
		@include font( $value );
	}
}
@each $name, $color in $colors {
	.bg-#{""+$name} {
		@include bg-color( $name, true );
	}

	.text-#{""+$name} {
		@include color( $name, true );
	}
}
@each $value in $font-weight {
	.value-#{""+$value} {
		@include weight( $value, true );
	}
}
@each $value in $line-height {
	.line-height-#{""+$value} {
		@include line-height( $value, true );
	}
}
@each $value in $text-decoration {
	.decoration-#{""+$value} {
		@include decoration( $value );
	}
}
@each $value in $bg-size {
	.bg-size-#{""+$value} {
		@include bg-size( $value, true );
	}
}
@each $value in $bg-size {
	.overflow-#{""+$value} {
		@include overflow( $value, true );
	}
}
@each $icon in $icons {
	.icon-#{""+nth($icon, 1)} {
		@include inline-image( nth($icon, 2), nth($icon, 3), nth($icon, 4) );

		@if length($icon) > 4 {
			$_size: nth($icon, 5);
			@if $_size == true {
				$_size: contain;
			}
			@include bg-size( $_size, 1 );
		}
	}
}
////////////////////////////////////////////////////////////////////////////////////////////////////
.coords-0 {
	left: 0 im();
	right: 0 im();
	top: 0 im();
	bottom: 0 im();
}
.left-0 {
	left: 0 im();
}
.right-0 {
	right: 0 im();
}
.top-0 {
	top: 0 im();
}
.bottom-0 {
	bottom: 0 im();
}
.sides-0 {
	left: 0 im();
	right: 0 im();
}
.ends-0 {
	top: 0 im();
	bottom: 0 im();
}
.coords-50 {
	left: 50% im();
	right: 50% im();
	top: 50% im();
	bottom: 50% im();
}
////////////////////////////////////////////////////////////////////////////////////////////////////
.reset-list {
	&, > * {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}
.inline-list {
	@extend .reset-list;

	> * {
		@extend .d-inline-block;
		vertical-align: top;
	}
}
.block-list {
	@extend .reset-list;

	> * {
		@extend .d-block;
	}
}
.row-list {
	@extend .row;

	&, > * {
		list-style: none;
		margin-top: 0;
		margin-bottom: 0;
	}
}
.row-container-list {
	@extend .row-container;

	&, > * {
		list-style: none;
		margin-top: 0;
		margin-bottom: 0;
	}
}